html, body, #app {
  height: 100%;
}

body {
  font-family: Poppins-Regular, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-base);
  background: var(--background-base);
}

#walletconnect-wrapper {
  color: #000;
}
