.g-container {
  padding: var(--space-common);
}

.g-child-mt {
  & > *:not(:first-child) {
    margin-top: var(--space-common-sm);
  }
}

.g-flex {
  display: flex;

  & > * {
    align-self: center;
  }
}

.g-clear-input {
  box-sizing: border-box;
  border: none;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline: none;
  box-shadow: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.g-fade-enter-active, .g-fade-leave-active {
  transition: all .5s;
}

.g-fade-enter, .g-fade-leave-active {
  opacity: 0;
}
