@charset "UTF-8";

@font-face {
  font-family: "Poppins-Regular";
  src: url("Poppins-Regular.woff2") format("woff2"),
       url("Poppins-Regular.woff") format("woff"),
       url("Poppins-Regular.ttf") format("truetype"),
       url("Poppins-Regular.eot") format("embedded-opentype"),
       url("Poppins-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}