@charset "UTF-8";

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("Poppins-SemiBold.woff2") format("woff2"),
       url("Poppins-SemiBold.woff") format("woff"),
       url("Poppins-SemiBold.ttf") format("truetype"),
       url("Poppins-SemiBold.eot") format("embedded-opentype"),
       url("Poppins-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}