@charset "UTF-8";

@font-face {
  font-family: "Poppins-Bold";
  src: url("Poppins-Bold.woff2") format("woff2"),
       url("Poppins-Bold.woff") format("woff"),
       url("Poppins-Bold.ttf") format("truetype"),
       url("Poppins-Bold.eot") format("embedded-opentype"),
       url("Poppins-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}